<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200">
      Preguntas Frecuentes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of list" color="light">
    <a (click)="verDetalles(item)">
      <ion-card-content>
        <ion-row>
          <ion-col col-12>
            <h3>{{item.titulo}}</h3>
            <p>{{item.resumen}}</p>
          </ion-col>
        </ion-row>
        <p style="color: #488aff" text-right>Ver más</p>
      </ion-card-content>
    </a>
  </ion-card>
</ion-content>
