<ion-header>
  <ion-navbar  color="light">
    <a (click)="cerrar()">
      Cancelar
    </a>
    <ion-title style="font-weight: 200">
      Reporte de Siniestro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-row style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
    <ion-col text-center style="color:#0087ff;">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-col>
    <ion-col text-center style="color:#0087ff;">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-col>
    <ion-col text-center style="color:#0087ff;">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-col>
  </ion-row>
  <div style="height: 60vh; overflow-x: hidden;">
    <ion-list padding-top="5" style="background:#ffffff">
      <ion-item no-padding>
        <ion-textarea row="2" padding-left padding-right type="text" placeholder="Escribe una referencia de donde ocurrió" [(ngModel)]="direccion"></ion-textarea>
      </ion-item>
    </ion-list>
    <p style="margin-left: 15px">Pulse en el mapa donde ocurrio el siniestro</p>
    <div #map id="map" style="width: 100%; height: 43vh; padding: 0px; padding-top:5px; background: #4e8cd1"></div>
  </div>
  <ion-row>
    <ion-col padding text-center="">
      <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh"
              (click)="enviar()">Finalizar Reporte
      </button>
    </ion-col>
  </ion-row>
</ion-content>
