
<ion-content no-padding>
	<img src="assets/images/elementos credinform/ingresar.png" style="width:100%; top:0px">
    <ion-segment no-padding  [(ngModel)]="natJu">
	    <ion-segment-button no-padding value="1" style="border:0px; color:#000000">
	      Persona Natural
	    </ion-segment-button>
	    <ion-segment-button no-padding value="2" style="border:0px; color:#000000">
	      Persona Jurídica
	    </ion-segment-button>
	  </ion-segment>

	  <div [ngSwitch]="natJu" padding>
		  <ion-list *ngSwitchCase="1">
		    <ion-item style="background-color:#f1f1f1">
			    <ion-label color="dark" floating> <ion-icon name="phone-portrait"></ion-icon> *Número de Celular</ion-label>
			    <ion-input  type="tel" [(ngModel)]="nTelefono"></ion-input>
			  </ion-item>
			  <ion-item style="background-color:#f1f1f1">
			    <ion-label color="dark" floating> <ion-icon name="person"></ion-icon> C.I. o Número de Placa</ion-label>
			    <ion-input type="text" [(ngModel)]="usuario"></ion-input>
			    <small>*Solo es necesario uno de los dos datos</small>
			  </ion-item>
			  <ion-row>
			    <ion-col>
			      <button ion-button color="light" full class="btn-seguro" (click)="goTo()">Ingresar</button>
			    </ion-col>
			  </ion-row>
		  </ion-list>

		  <ion-list *ngSwitchCase="2">
		    <ion-item style="background-color:#f1f1f1">
			    <ion-label color="dark" floating> <ion-icon name="phone-portrait"></ion-icon> *Número de Celular</ion-label>
			    <ion-input type="tel" [(ngModel)]="nTelefono"></ion-input>
			  </ion-item>
			  <ion-item style="background-color:#f1f1f1">
			    <ion-label color="dark" floating> <ion-icon name="person"></ion-icon> NIT o Número de Placa</ion-label>
			    <ion-input type="text" [(ngModel)]="usuario"></ion-input>
			    <small>*Solo es necesario uno de los dos datos</small>
			  </ion-item>
			  <ion-row>
			    <ion-col>
			      <button ion-button color="light" full class="btn-seguro" (click)="goTo()">Ingresar</button>
			    </ion-col>
			  </ion-row>
		  </ion-list>
		</div>

</ion-content>
