<ion-tabs style="position: absolute; bottom: 0px;">
  <ion-tab [root]="tab1Root" tabTitle="Servicios" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mapa" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Información" tabIcon="information-circle"></ion-tab>
</ion-tabs>
