<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cerrar
    </a>
    <ion-title style="font-weight: 200">

      Buzón de Sugerencias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <h2 style="font-size: 24px"><strong>{{details.asunto}}</strong></h2>
      <p>{{details.mensaje}}</p>
      <hr>
      <label>Respuesta
      </label>
      <p *ngIf="details.status == 1" style="color: red">Sin responder</p>
      <p *ngIf="details.status == 2">{{details.respuesta}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
