<ion-header>
  <ion-navbar  color="light">
    <ion-title style="font-weight: 200">
      Información
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <section [navPush]="preguntasFrecuentes" style="background-image: url('assets/images/elementos credinform/img5.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 47vh; margin-top: 0px; padding-top: 8vh; padding-bottom: 8vh;">
    <p text-center><img src="assets/images/elementos credinform/icon-faq.svg"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Preguntas Frecuentes</h3>
  </section>
  <section [navPush]="sugerencias" style="background-image: url('assets/images/elementos credinform/img6.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 47vh; margin-top: 0px; padding-top: 8vh; padding-bottom: 8vh;">
    <p text-center><img src="assets/images/elementos credinform/icon-buzon.svg"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Buzón de Sugerencias</h3>
  </section>
</ion-content>
