<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200">
      Consulta Online
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <p text-center>
      <img height="27px" src="assets/images/elementos credinform/CRD-logo.png">
      <span style="font-weight: 100; font-size: 27px;">CHAT</span>
    </p>
    <p text-center margin-top="2">
      <img height="90px"  src="assets/images/elementos credinform/icon-support2.svg">

    </p>
    <p text-center margin-top="2"  style="color: #8b8b8b">
      Espera mientras te contactamos con uno de nuestros operadores …
    </p>
    <p text-center margin-top="2">
      <img height="90px"  src="assets/images/Rolling.gif">
    </p>
</ion-content>
