<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cancelar
    </a>
    <ion-title style="font-weight: 200">
      Consulta Online
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <div style="height: 75vh; overflow-x: hidden;" #msjChat [scrollTop]="msjChat.scrollHeight">

    <p text-center margin-top="2">
      <img height="90px"  src="assets/images/elementos credinform/icon-support1.svg">

    </p>
    <p text-center style="color: #bfbfbf;">
      <small>Hoy</small>
    </p>

      <ion-card style=" background-color: #004793; color: #ffffff;  width: 90%; float: left;">
        <ion-card-content>
          Bienvenidos al servicio de chat Credinform
        </ion-card-content>
      </ion-card>

      <ion-card style="width: 90%;" *ngFor="let msj of listMensajes" [ngClass]="{'primary-back':(msj.emisor==2)}">
        <ion-card-content>
          {{msj.mensaje}}
          <p style="padding-right: 40px; color: #bfbfbf;" text-right>
            <small>{{msj.fecha|date: 'dd/MM/yyyy hh:mm'}}</small>
          </p>
        </ion-card-content>

      </ion-card>


    </div>


  <div style="position: fixed; width: 100vw; bottom: 10vh; padding: 5px; background: #f8f8f8">
    <form (submit)="enviarMsj()">
      <ion-item>
        <ion-label><a (click)="enviarMsj()"><ion-icon name="add"></ion-icon></a></ion-label>
        <ion-input type="text" placeholder="Escribir..." [(ngModel)]="mensajeEnviar" name="mensajeEnviar"></ion-input>
      </ion-item>
    </form>

  </div>
</ion-content>
