<ion-header>
  <ion-navbar  color="light">
    <ion-title style="font-weight: 200">
      Mapa
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-segment [(ngModel)]="controlView" style="padding: 0px; border-radius: 0px" margin-bottom="1" (ionChange)="addMarkets($event)">
    <ion-segment-button style="border:0px; color:#000000" value="1">
      Oficinas
    </ion-segment-button>
    <ion-segment-button style="border:0px; color:#000000" value="2">
      Lugares de pago
    </ion-segment-button>
  </ion-segment>
  <div #map id="map" style="width: 100%; height: 75vh; padding: 0px; padding-top:5px; background: #4e8cd1"></div>
</ion-content>
