<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cerrar
    </a>
    <ion-title style="font-weight: 200">

      <img height="20px" src="assets/images/elementos credinform/CRD-logo.png">
      Reportar Siniestro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="background:#efeff4">
    <div *ngIf="controlStatus == 1" no-padding>
      <ion-row style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="ios-remove-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="ios-remove-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <div style="height: 60vh; overflow-x: hidden;">
        <ion-list padding-top="5" style="background:#ffffff">
          <ion-item>
            <ion-label style="color: #0087ff; width: 70%">
              <ion-icon name="ios-warning-outline"></ion-icon>
            </ion-label>
            <ion-select [(ngModel)]="tipo" placeholder="Tipo Siniestro">
              <ion-option value="A"><img src="assets/images/elementos credinform/icon-accident-outline.svg" width="10"
                                         height="10"> Accidente
              </ion-option>
              <ion-option value="R"><img src="assets/images/elementos credinform/icon-car.svg" width="10" height="10">
                Robo
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label style="color: #0087ff;">
              <ion-icon name="md-calendar"></ion-icon>
            </ion-label>
            <ion-datetime displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" placeholder="Fecha" [(ngModel)]="fecha"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-textarea type="text" placeholder="Descripción" rows="5" [(ngModel)]="descripcion"></ion-textarea>
          </ion-item>
        </ion-list>
      </div>
      <ion-row>
        <ion-col padding text-center="">
          <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh"
                  (click)="primeraEtapa()">Siguiente
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="controlStatus == 2" no-padding>
      <ion-row style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center>
          <ion-icon name="ios-remove-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <div style="height: 60vh; overflow-x: hidden;">
        <div text-center style="border: 1px dashed; padding: 10rem; border-radius: 3rem; margin: 3rem" (click)="cargarImagen()">
          <img src="assets/images/elementos credinform/icon-camera.svg">
          <p style="color: #adadad">Añadir Fotos</p>
        </div>
      </div>
      <ion-row>
        <ion-col padding text-center="">
          <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh"
                  (click)="controlStatus = 3">Siguiente
          </button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="controlStatus == 3" no-padding>
      <ion-row style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
        <ion-col text-center style="color:#0087ff;">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <div style="height: 60vh; overflow-x: hidden;">
        <ion-list padding-top="5" style="background:#ffffff">
          <ion-item no-padding>
            <ion-input padding-left padding-right type="text" placeholder="Locación de Suceso"></ion-input>
          </ion-item>
        </ion-list>
        <div no-padding style="height: 40vh; background: #0087ff" id="mapa"></div>
      </div>
      <ion-row>
        <ion-col padding text-center="">
          <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh"
                  (click)="siguiente()">Finalizar Reporte
          </button>
        </ion-col>
      </ion-row>
    </div>
</ion-content>
