<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200">
      <img height="20px" src="assets/images/elementos credinform/CRD-logo.png">
      Reportar Siniestro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-item no-padding>
    <ion-input padding-left padding-right type="text" placeholder="Buscar reporte especifico"></ion-input>
  </ion-item>

  <div style="height: 60vh; overflow-x: hidden;">
  <ion-list no-padding>
    <ion-item padding-top padding-bottom *ngFor="let item of list">
      <ion-avatar item-start style="background-color:#0087ff; padding: 5px; border-radius: 50%">
        <img *ngIf="item.tipoSiniestro == 'R'" src="assets/images/elementos credinform/icon-car.svg">
        <img *ngIf="item.tipoSiniestro == 'A'" src="assets/images/elementos credinform/icon-accident.svg">
      </ion-avatar>
      <h2>{{item.descripcion}}</h2>
      <p>{{item.fechaCreacion|date: 'dd/MM/yyyy hh:mm'}}</p>
    </ion-item>
  </ion-list>
  </div>

  <ion-row>
    <ion-col padding text-center="">
      <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh" (click)="newReporte()">Generar Reporte</button>
    </ion-col>
  </ion-row>
</ion-content>
