<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cerrar
    </a>
    <ion-title style="font-weight: 200">
      Buzón de Sugerencias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="background:#efeff4">
  <ion-segment [(ngModel)]="tipo" style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
    <ion-segment-button style="border:0px; color:#000000" value="1">
      Sugerencias
    </ion-segment-button>
    <ion-segment-button style="border:0px; color:#000000" value="2">
      Reclamos
    </ion-segment-button>
    <ion-segment-button style="border:0px; color:#000000" value="3">
      Preguntas
    </ion-segment-button>
  </ion-segment>

  <ion-list padding-top="5" style="background:#ffffff">
    <ion-item>
      <ion-label floating>Asunto del mensaje</ion-label>
      <ion-input type="text" [(ngModel)]="asunto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea type="text" placeholder="Mensaje" [(ngModel)]="mensaje" rows="5"></ion-textarea>
    </ion-item>

    <ion-row padding-top="5">
      <ion-col>
        <button ion-button color="light" full class="btn-seguro" (click)="enviar()">Enviar</button>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
