<ion-content padding style="background-image: url('assets/images/elementos credinform/LAUNCH.png'); background-repeat: no-repeat; background-size: 100% 100%;">
  <p text-center>
    <img width="250" height="170" style="margin-top: 20vh" src="assets/images/elementos credinform/CDR_full.png">
  </p>
  <ion-row>
    <ion-col>
      <button ion-button color="light" full class="btn-seguro" (click)="goTo()">Ingresar</button>
    </ion-col>
  </ion-row>
  <p text-center style="margin-top: 20vh">
    <a text-center style="color:white" (click)="llamarEmergencia()"><ion-icon name="ios-warning-outline"></ion-icon> Llamada de emergencia</a></p>
</ion-content>
