<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200">
      Servicios Adicionales
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background: #000000">
  <p padding style="color: #ffffff">Puedes solicitar los siguiente servicios de manera ágil y una de nuestras operadoras se pondrá en contacto contigo.</p>
  <ion-row>
    <ion-col col-6 no-padding *ngFor="let item of list">
      <ion-card style="background: rgba(255, 255, 255, 0)!important;">
        <a (click)="enviar(item)">
          <img style="height: 20vh" class="img-fluid" src="{{item.imagen.grande}}"/>
          <ion-card-content>
            <ion-card-title style="color: #ffffff; height: 10vh">
              {{item.nombre}}
            </ion-card-title>
          </ion-card-content>
        </a>
      </ion-card>
    </ion-col >
  </ion-row>
</ion-content>
