<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cerrar
    </a>
    <ion-title style="font-weight: 200">
      <img height="20px" src="assets/images/elementos credinform/CRD-logo.png">
      Reportar Siniestro
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding style="background:#efeff4">
  <div no-padding>
    <ion-row style="padding: 0px; border-radius: 0px; background:#ffffff" margin-bottom="1">
      <ion-col text-center style="color:#0087ff;">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col text-center style="color:#0087ff;">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-col>
      <ion-col text-center>
        <ion-icon name="ios-remove-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
    <div *ngIf="base64ImageArray.length < 1" style="height: 60vh; overflow-x: hidden;">
      <div text-center style="border: 1px dashed; padding: 10rem; border-radius: 3rem; margin: 3rem"
           (click)="takePhoto()">
        <img src="assets/images/elementos credinform/icon-camera.svg">
        <p style="color: #adadad">Añadir Fotos</p>
      </div>
    </div>
    <div *ngIf="base64ImageArray.length > 0" style="height: 60vh; overflow-x: hidden;">
      <ion-row>
        <ion-col col-6 text-center *ngFor="let imagen of base64ImageArray">
          <ion-card>
            <img [src]="imagen" class="img-fluid">
            <ion-card-content>
              <p text-center="">
                <button ion-button icon-left clear (click)="eliminar(imagen)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <div text-center
           style="border: 1px dashed; padding-top: 1rem; padding-bottom: 1rem; padding-left: 10rem; padding-right: 10rem; border-radius: 3rem; margin: 3rem"
           (click)="takePhoto()">
        <img src="assets/images/elementos credinform/icon-camera.svg">
        <p style="color: #adadad">Añadir Fotos</p>
      </div>
    </div>
    <ion-row>
      <ion-col padding text-center="">
        <button ion-button outline large class="btn-seguro-blue" style="padding-left: 12vh; padding-right: 12vh"
                (click)="segundaEtapa()">Siguiente
        </button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
