<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200">
      Buzón de Sugerencias
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="height: 67vh; overflow-x: hidden;">
    <div *ngIf="list.length < 1">
      <p text-center>
        <img height="40px" src="assets/images/elementos credinform/CRD-logo.png">
      </p>
      <p text-center margin-top="2">
        <img height="150px"  src="assets/images/elementos credinform/icon-buzon2.svg">

      </p>
      <p text-center margin-top="2"  style="color: #8b8b8b">
        En Credinform estamos dispuestos a escuchar sus sugerencias porque nos ayuda a mejorar nuestros servicios.
      </p>
    </div>
    <ion-list no-padding>
      <ion-item no-padding *ngFor="let item of list" (click)="loadSugerencias(item)">
        <h2>{{item.asunto}}
        </h2>
        <small *ngIf="item.tipoSugerencia == 1">Sugerencia</small>
        <small *ngIf="item.tipoSugerencia == 2">Reclamo</small>
        <small *ngIf="item.tipoSugerencia == 3">Preguntas</small>
        <p *ngIf="item.status == 1" style="color: red">Sin responder</p>
        <p *ngIf="item.status == 2" style="color: green">Respondida</p>
      </ion-item>
    </ion-list>
  </div>
  <ion-row>
    <ion-col>
      <button ion-button color="light" full class="btn-seguro" (click)="crearSugerencia()">Hacer Sugerencia</button>
    </ion-col>
  </ion-row>
</ion-content>
