.section-reportar{
  background-image: url('../../assets/images/elementos credinform/img1.png');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: 100% 100%;
  background-attachment: fixed;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
