<ion-header>
  <ion-navbar color="light">
    <ion-title style="font-weight: 200; color:white">
      Servicios
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only  (click)="closeSesion()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <section [navPush]="reporte" style="background-image: url('assets/images/elementos credinform/img1.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 250px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
    <p text-center><img src="assets/images/elementos credinform/icon-reportar.svg"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Reportar Siniestro</h3>
  </section>
  <section [navPush]="chat" style="background-image: url('assets/images/elementos credinform/img2.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 250px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
    <p text-center><img width="100" height="62" src="assets/images/elementos credinform/chat-online.png"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Chat Online</h3>
  </section>
  <section (click)="llamarEmergencia()" style="background-image: url('assets/images/elementos credinform/img3.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 250px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
    <p text-center><img src="assets/images/elementos credinform/icon-llamada.svg"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Llamada de Emergencia</h3>
  </section>
  <section [navPush]="adicionales" style="background-image: url('assets/images/elementos credinform/img4.png'); background-repeat: no-repeat; background-position: center 0px; background-size: 100% 250px; margin-top: 0px; padding-top: 10px; padding-bottom: 10px;">
    <p text-center><img src="assets/images/elementos credinform/icon-adicionales.svg"></p>
    <h3 text-center style="color: #ffffff; font-size: 20px; font-weight: 900">Servicios Adicionales</h3>
  </section>
</ion-content>
