<ion-header>
  <ion-navbar color="light">
    <a (click)="cerrar()">
      Cerrar
    </a>
    <ion-title style="font-weight: 200">

      Preguntas Frecuentes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card color="danger">
    <ion-card-content>
      <h2 style="font-size: 24px"><strong>{{details.titulo}}</strong></h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="primary">
    <ion-card-content>
      <p>{{details.texto}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
